<p id="notice">
	<%= notice %>
</p>

<p>
	<b>Name:</b>
	<%= @project.name %>
</p>

<p>
	<b>Description:</b>
	<%= @project.description %>
</p>

<h3>List of screencasts</h3>

<ul>
	<%- for screencast in @project.screencasts %>
	<li>
		<%= link_to screencast.title, screencast %>
	</li>
	<%- end %>
</ul>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
